.search-form {
    width: 480px;
}

.search-input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 15px;
}

.header-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.btn-outline-dark {
    width: 90px;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}

.mypage-header {
    width: 1017px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin: 40px auto 0;
}

.profile-image-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.default-profile-icon {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
}

.profile-info-row {
    display: flex;
    align-items: center;
    gap: 250px;
}

.profile-username {
    width: 250px;
    height: 65px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin: 0;
}

.btn-profile-edit {
    width: 310px;
    height: 59px;
    border-radius: 10px;
    border: 2px solid #FF5555;
    background-color: #FFFFFF;
    color: #FF5555;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 59px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.mypage-tabs {
    width: 1512px;
    height: 47px;
    display: flex;
    align-items: center;
    gap: 52px;
    padding-left: 50px;
    margin-top: 40px;
}

.mypage-tab {
    width: 155px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    color: #5F5F5F;
    text-decoration: none;
}

.mypage-tab.is-active {
    color: #FF0000;
}

.mypage-tab-border {
    width: 1350px;
    height: 2px;
    background-color: #5F5F5F;
    margin-top: 0;
    margin-left: 0;
}

.mypage-items {
    width: 1374px;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-auto-rows: 320px;
    gap: 40px 38px;
    margin-left: 69px;
    margin-top: 40px;
}

.mypage-item-card {
    width: 290px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.item-image-wrapper {
    width: 290px;
    height: 281px;
    border-radius: 4px;
    background-color: #ccc;
    overflow: hidden;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 商品名 */
.item-name {
    width: 290px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin: 0;
    margin-top: 8px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    body {
        transform: scale(0.92);
        transform-origin: top left;
    }

    .header-right {
        margin-right: 80px;
    }

    .mypage-items {
        margin-left: 20px !important;
    }

    .mypage-item-card,
    .item-image-wrapper {
        width: 280px;
    }
}

