.auth-header {
    width: 100%;
    max-width: 1512px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #000;
    color: #fff;
}
.auth-header img {
    max-height: 80px;
    height: auto;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (min-width: 1450px) {
  .auth-header {
    padding: 16px 40px;
    background-color: #000; /* 黒帯 */
  }

  .auth-header img {
    max-height: 40px;
    max-width: 160px;
    height: auto;
    width: auto;
  }

  .header-right {
    gap: 16px;
  }

  main {
    padding: 40px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {

  .auth-header {
    width: 100vw;
    max-width: 100vw;
    padding: 0 16px;
    box-sizing: border-box;
  }

  /* ロゴを小さく */
  .auth-header img {
    max-height: 25px;
  }


}

