.auth-header {
    width: 100%;
    max-width: 1512px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #000;
    color: #fff;
}
.auth-header img {
    max-height: 80px;
    height: auto;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .auth-header {
        padding: 16px 40px;
        background-color: #000; /* 黒帯 */
    }

    .auth-header img {
        max-height: auto;
        max-width: auto;
        height: none;
        width: none;
    }

    .header-right {
        gap: 16px;
    }

    main {
        padding: 40px 20px;
    }
}


