.verify-message {
    width: 720px;
    height: 58px;
    position: absolute;
    top: 319px;
    left: 399px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

.verify-main-button {
    position: absolute;
    width: 257px;
    height: 69px;
    top: 439px;
    left: 628px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.verify-resend-link {
    position: absolute;
    width: 257px;
    height: 53.29px;
    top: 560px;
    left: 628px;
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0073CC;
    text-align: center;
    cursor: pointer;
}